<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lotus.animationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActFrameAnimation"/>
        <activity android:name=".ActTweenedAnimation"/>
        <activity android:name=".ActPropertyAnimation"/>
        <activity android:name=".propertyanimation.ActObjectAnimator"/>
        <activity android:name=".propertyanimation.ActValueAnimator"/>
        <activity android:name=".propertyanimation.ActAnimatorSet"/>
        <activity android:name=".propertyanimation.ActUseXml"/>
        <activity android:name=".propertyanimation.ActViewAnimate"/>
        <activity android:name=".propertyanimation.ActLayoutTransition"/>
        <activity android:name=".comprehensive.hiddenopenanim.ActRotateValueAnim"/>
        <activity android:name=".comprehensive.launcherview.ActLauncher"/>
        <activity android:name=".comprehensive.animpath.ActAnimPath"/>
        <activity android:name=".comprehensive.ActMenuPop"/>
    </application>

</manifest>